* {
    box-sizing: border-box;
}

body {
    font-family: 'Libre Baskerville', serif;
}

header a {
    color: black;
}

header a:hover {
    text-decoration: none;
    color: black;
}

.latest-wrapper {
    width: 80%;
}

.search-wrapper {
    width: 80%;
}

.book-wrapper {
    height: 30vw;
}

.book {
    height: 100%;
    width: 100%;
}

.book-title {
    font-size: 1.5em;
    font-weight: bold;
}

.subtitle {
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.book-img {
    max-height: 200px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #eee;
}

.review {
    border: 1px solid #ccc;
    border-radius: 3px;
}
