<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'books/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'books/style.css' %}">
    <title>Welcome to the Librarti</title>
</head>

<body>
    <header class="my-3 text-center">
        <h1><a class="font-bold" href="{% url 'books:index' %}">the Librarti</a></h1>
        <p class="font-italic">(Keep your voice down)</p>
    </header>
    {% block recent %}{% endblock %}
    <div class="browse-wrapper my-4 p-4 container">
        <h4>Browse the Collection</h4>
        <a href="{% url 'books:order_by' 'title' %}"><button class="btn btn-outline-dark">by Title</button></a>
        <a href="{% url 'books:order_by' 'author' %}"><button class="btn btn-outline-dark">by Author</button></a>
        <a href="{% url 'books:order_by' 'stars' %}"><button class="btn btn-outline-dark">by Stars</button></a>
        <a href="{% url 'books:order_by' 'add_date' %}"><button class="btn btn-outline-dark">by Add Date</button></a>
    </div>
    {% include 'books/search.html' %}
</body>

{% load static %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script type="text/javascript" src="{% static 'books/slick.js' %}"></script>

</html>