<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'books/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'books/style.css' %}">
    <title>Welcome to the Librarti</title>
</head>

<body>
    <header class="my-3 text-center">
        <h1><a class="baskerville font-bold" href="{% url 'books:index' %}">the Librarti</a></h1>
        <p class="baskerville font-italic">(Keep your voice down)</p>
    </header>
    {% block content %}{% endblock %}
</body>

</html>