<div class="browse-wrapper container my-4 p-4">
    <h4>Browse the Librarti</h4>
    <table class="book-table">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Stars</th>
        </tr>
        {% if books_list %}
        {% for book in books_list.all_books %}
        <tr>
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.review.stars }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>
</div>