<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ book.title }}</title>
</head>
<body>
    <h3>{{ book.title }}</h3>
    <h4>by {{ book.author }}</h4>
    <p>Synopsis:</p>
    {% if book.synopsis %}
    <div>{{ book.synopsis }}</div>
    {% else %}
    <div>
        <p>This book doesn't have a synopsis yet.</p>
        <p>Add a symopsis?</p>
        <form action="{% url 'books:add_synopsis' book.id %}" method="post">
            {% csrf_token %}
            <textarea id="synopsis" name="synopsis"></textarea>
            <br />
            <input type="submit" value="Add Synopsis">
        </form>

    </div>
    {% endif %}
    </div>
</body>
</html>