<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "books/style.css" %}">
    <script src="https://kit.fontawesome.com/4a3eda80d3.js" crossorigin="anonymous"></script>
    <title>{{ book.title }}</title>
</head>

<body>
    {% if error_message %}
    <p class="error">{{ error_message }}</p>
    {% endif %}

    <h3>{{ book.title }}</h3>
    <h4>by {{ book.author }}</h4>

    <!-- Synopsis Section -->
    <p>Synopsis:</p>
    {% if book.synopsis %}
    <div>
        <div id="synopsis">{{ book.synopsis }}</div>
    </div>
    {% else %}
    <div>
        <p>This book doesn't have a synopsis yet.</p>
    </div>
    {% endif %}
    <!-- End Book Synopsis Section -->

    <!-- Book Review Section -->
    <p>Review</p>
    {% if book.review %}
    <div>
        <span id="review_stars">{{ book.review.stars }}</span>
    </div>
    {% else %}
    <div>
        <p>This book doesn't have a review yet.</p>
    </div>
    {% endif %}
    <a href="{% url 'books:index' %}">Back</a>
    <!-- End Book Review Section -->
    <br />
    <a href="{% url 'books:update_book' book.id %}">Update Book</a>
    <br />
    <a href="{% url 'books:update_review' book.id %}">Update Review</a>
</body>

</html>